In [ ]:
import pandas as pd

In [11]:
data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG1.csv")

In [12]:
data

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [13]:
data['Y2014'].sum()

7965086.130000001

In [15]:
data['Y2015'].sum()

8032340.2299999995

In [25]:
data['Y2016'].sum()

8112472.649999999

In [17]:
data['Y2017'].sum()

8375729.189999999

In [18]:
data['Y2018'].sum()

8554629.96

In [21]:
stock_variation =  data.groupby('Element')

In [33]:
#finding stock_variation

stock_variation['Y2014'].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  1996716.35
Production                                1931287.75
Food                                      1212332.49
Total Population - Both sexes             1031585.00
Food supply (kcal/capita/day)              454257.00
Processing                                 282923.00
Import Quantity                            274144.48
Feed                                       216927.89
Losses                                     153223.00
Export Quantity                            150020.64
Other uses (non-food)                       78718.13
Stock Variation                             58749.83
Food supply quantity (kg/capita/yr)         49650.63
Residuals                                   30149.00
Seed                                        21922.92
Protein supply quantity (g/capita/day)      11836.46
Fat supply quantity (g/capita/day)          10225.56
Tourist consumption                           416.00
Name: Y2014, dtype: float64